<h1>Edit Post <%= @post.id %></h1>

<form action="/posts/<%= @post.id %>" method="POST">

  <label for="name">Name: </label>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name"><br>

  <label for="content">Content: </label>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="content"><br>
  <input type="submit" title="submit">

</form>
