<h1>New Post!</h1>

<form action="/posts" method="POST">

  <label for="title">Title: </label>
  <input type="text" name="title">

  <label for="content">Content: </label>
  <input type="type" name="content">

</form>
